.DS_Store
*.bbl

*.pdf

doc/publications/incob2014/bmc_article.tex

doc/publications/incob2014/bmc_article.bib

doc/publications/incob2014/bmc_article.zip

*.aux

*.log

doc/publications/incob2014/readme.html

*.blg

*.bak

*.out

doc/publications/incob2014/images/mahout-logo.svg

*.orig

*~

.project
.classpath
.settings
.cache
.cache-main
.cache-test

target
.tmpBin
.cache-tests
.ipynb_checkpoints

.RData
.Rhistory
tmp

.idea

*.iml

variant-spark_2.11.iml

*.pyc
*.egg-info
.pydevproject


build
dist
_build
spark-warehouse
.*.crc


### personal
antlr/
venv/
data/*.gz

data/ALL.chr21.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf

data/ALL.wgs.mergedSV.v8.20130502.svs.genotypes.vcf

data/ch22-model.java

data/ch22-model.json

data/ch22-model.spark

data/chr21_1000_labels.csv

data/chr21_1000.vcf

data/chr22-model.json

data/chr22little.vcf

data/classProbs.csv

data/dummyLabels.csv

data/gen1000.csv

data/hipster_labels.txt

data/hipster.vcf

data/hipsterIndex/hipster.vcf

data/littleVCF.vcf

data/littlevcflabels.csv

data/Pcyn1.0.fa

data/predictOutput.csv

data/predictOutput2.csv

data/README_20160404_where_are_the_phase3_variants

data/sample_libsvm_data.txt

data/testDataArash.csv

data/testDataArash.vcf/_SUCCESS

data/testDataArash.vcf/part-00000

data/testLabelArash.csv

data/testModel5trees.bin

data/testModel5trees.bin.labelMap/_SUCCESS

data/testModel5trees.bin.labelMap/part-00000

data/testModel5trees.java

data/voteProbs.csv

docs/predictionOutput.csv

docs/predictionOutput.txt

docs/varspark_hail_rf_RandomForestModel.png

exploreForest.scala

forestSession.scala

hipster.vcf

history.py

idea-IU-193.6911.18/inspections/index.html

idea-IU-193.6911.18/inspections/script.js

idea-IU-193.6911.18/inspections/styles.css

parallelPredictionOutput.txt

predictionOutput.txt

predictions.txt

predictionSession.scala

predictModels.sh

predictRFoutput.txt

project/build.properties

scrap.txt

sparkSession.scala

testArashpredictRFoutput.txt

testArashTrainRFoutput.txt

testLabelMap/_SUCCESS

testLabelMap/part-00000

testLabelMap/part-00001

testLabelMap/part-00002

testLabelMap/part-00003

trainModels.sh

trainRFoutput.txt

VariantSpark.srctrlbm

VariantSpark.srctrldb

VariantSpark.srctrlprj

VariantSparkPredictionOutput.zip

vim.session

voteCountSession.scala

voteProb/_SUCCESS

voteProb/part-00000

votesSession.scala

VotingAggregatorOutput.txt

ch22-model.json

chr21_1000_labels.csv

createDataFrame.scala

 vim.session

build.sbt
